[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:marcos-aparicio/nvim-config.git
  ignore = dirty
[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = git@github.com:marcos-aparicio/awesome-wm.git
  ignore = dirty
[submodule "rofi/.config/rofi"]
	path = rofi/.config/rofi
	url = git@github.com:marcos-aparicio/rofi-dotfiles.git
  ignore = dirty
