* {
    background:     {{background}};
    background-alt: {{background | lighten(0.1)}};
    foreground:     {{cursor}};
    selected:       {{cursor}};
    active:         {{color0}};
    urgent:         {{cursor | complementary}};
    main:           {{color3}};
    green:          {{color4}};
}
