source ~/.config/sioyek/mocha.config

visual_mark_color  0.0  0.0  0.0  0.8
ruler_mode  1
ruler_padding 1.0
ruler_x_padding 5.0
font_size 25
status_bar_font_size 25
show_document_name_in_statusbar 1
status_bar_format  Page %{current_page} / %{num_pages}%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}%{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{highlight}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{document_name}

startup_commands toggle_custom_color
