[Unit]
Description=Apply conditional xmodmap configuration
After=graphical-session.target


[Service]
Type=oneshot
Environment=DISPLAY=:0
# Use an absolute path to your script
ExecStart=/home/marcos/.config/systemd/scripts/apply-xmodmap.sh

[Install]
WantedBy=default.target
