[Unit]
Description=Apply conditional xmodmap configuration

# This ensures it runs after the graphical environment is ready
After=graphical-session.target

[Service]
Type=oneshot
Environment=DISPLAY=:0
# Use an absolute path to your script
ExecStart=/home/marcos/.config/systemd/scripts/apply-xmodmap.sh

[Install]
# This tells systemd to start the service as part of the main graphical session
WantedBy=graphical-session.target
