[Unit]
Description=Starting Tmux on Boot
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s marcos-marcos -d
ExecStop=/usr/bin/tmux kill-session -t marcos-marcos

[Install]
WantedBy=graphical-session.target
